language: objective-c
osx_image: xcode8.2

env:
  global:
    - LANG=en_US.UTF-8
    - LC_ALL=en_US.UTF-8
    - WORKSPACE="SwiftSimpleLogger.xcodeproj"
    - IOS_FRAMEWORK_SCHEME="SwiftSimpleLogger iOS"
    - OSX_FRAMEWORK_SCHEME="SwiftSimpleLogger macOS"
    - TVOS_FRAMEWORK_SCHEME="SwiftSimpleLogger tvOS"
    - WATCHOS_FRAMEWORK_SCHEME="SwiftSimpleLogger watchOS"
    - IOS_SDK=iphonesimulator10.2
    - OSX_SDK=macosx10.12
    - TVOS_SDK=appletvsimulator10.1
    - WATCHOS_SDK=watchsimulator3.1
  matrix:
    - DESTINATION="OS=10.0,name=iPhone 6"            SCHEME="$IOS_FRAMEWORK_SCHEME"     SDK="$IOS_SDK"     RUN_TESTS="NO"
    - DESTINATION="arch=x86_64"                      SCHEME="$OSX_FRAMEWORK_SCHEME"     SDK="$OSX_SDK"     RUN_TESTS="NO"
    - DESTINATION="OS=10.0,name=Apple TV 1080p"      SCHEME="$TVOS_FRAMEWORK_SCHEME"    SDK="$TVOS_SDK"    RUN_TESTS="NO"
    - DESTINATION="OS=3.1,name=Apple Watch - 38mm"   SCHEME="$WATCHOS_FRAMEWORK_SCHEME" SDK="$WATCHOS_SDK" RUN_TESTS="NO"

before_install:
  - gem install xcpretty --no-rdoc --no-ri --no-document --quiet

script: 
  - set -o pipefail
  - xcodebuild -version
  - xcodebuild -showsdks
  - travis_retry xcodebuild -project "$WORKSPACE" -scheme "$SCHEME" -sdk "$SDK" -destination "$DESTINATION" -configuration Debug ONLY_ACTIVE_ARCH=NO build | xcpretty -c;
notifications:
  email: true
